.call-button {
  width: 3.5rem;
  float: right;
}

.camera-button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.svg-camera {
  fill: transparent;
  stroke: #EEE;
  stroke-width: 1px;
  height: 33px;
  padding: 1px;
  transition: stroke 100ms ease-in-out;
  margin: 3px 0;
}

.svg-camera:hover {
  stroke: #CCC;
}

.calling-indicator {
  margin: 0;
  line-height: 36px;
}
