.call-center {
  position: relative;
  width: calc(100% - 480px);
  background-color: #2B3E54;
  float: left;
  height: 100%;
}

.call-center video {
  margin: 0;
}

.friend-video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.my-video {
  width: 140px;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  border-radius: 2px;
  transform: scale(-1, 1); /* mirror video */
}

.end-call-button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  outline: none;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  opacity: 0;
}

.call-center:hover .end-call-button {
  opacity: 0.5;
}

.end-call-button:hover {
  opacity: 1 !important;
}
