.call-center {
  position: relative;
  width: calc(100% - 480px);
  background-color: #2B3E54;
  float: left;
  height: 100%;
}

.call-center video {
  margin: 0;
}

.friend-video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.my-video {
  width: 140px;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  border-radius: 2px;
  transform: scale(-1, 1); /* mirror video */
}

.end-call-button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  opacity: 0;
}

.call-center:hover .end-call-button {
  opacity: 0.5;
}

.end-call-button:hover {
  opacity: 1 !important;
}

.svg-close{
  width: 25px;
  stroke: #FFF;
  stroke-width: 2px;
  cursor: pointer;
}

.svg-close:hover .svg-close-x-line1{
  transform: rotate(270deg);
}

.svg-close:hover .svg-close-x-line2{
  transform: rotate(90deg);
}

.svg-close-x-line1, .svg-close-x-line2{
  transition: transform 400ms;
  transform-origin: 50% 50%;
}
