.text-list {
  list-style-type: none;
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;
}

.message p {
  margin: 0;
}

.message {
  margin: 0.5rem 0;
}

.message-from {
  margin: 1rem 0 0.5rem;
  font-size: 0.9rem
}

.message-value {
  display: inline-block;
  width: calc(100% - 4rem);
}

.message-value a {
  text-decoration: none;
  color: #63009E;
}

.message-when {
  display: inline-block;
  vertical-align: top;
  width: 4rem;
  font-size: 0.8rem;
  padding-top: 2px;
  text-align: right;
  color: #999;
}

.sent .message-from {
  color: #147C41;
}

.received .message-from {
  color: #410366;
}

.log p {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  margin: 0.7rem;
}

.log-value {
  color: #FFF;
  background-color: #DDD;
  padding: 0.1rem 0.6rem;
  border-radius: 15px;
  text-shadow: 1px 0px 1px #CCC;
}

.is-friend-typing {
  margin: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #999;
}
