.compose-text {
  position: relative;
  width: 100%;
}

.text-input {
  -webkit-appearance: none;
  outline: none;
  border: none;
  line-height: 1.2;
  padding: 0.5rem 0.8rem;
  border: 2px solid #EEE;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem;
  font-weight: 200;
}

.submit-text {
  display: none;
}
